form {
    text-align: center;
    padding: 2em 2em 0 2em;
    border-radius: 5px;
}

form p {
    margin: 10px;
    max-width: 600px;
    text-align: center;
    line-height: 2;
    font-size: 1.2em;
}

.controlsRow {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:500px) {
    form {
        padding: 1.5em;
    }
}